# Anvil first private key
PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
RPC_URL=http://127.0.0.1:8545
CHAIN_ID=31337
LOCK_FILE=/tmp/eth-nonce.lock
NONCE_FILE=/tmp/nonce.json
WORKER_COUNT=5
